DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/talofood_db
JWT_SECRET_KEY=change_me_to_a_long_random_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ADMIN_EMAIL=admin@talofood.local
ADMIN_PASSWORD=change_me
ADMIN_FULL_NAME=TaloFood Admin

DELIVERY_FEE=30000
